<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page!</h1>
    <h2><%= 1 + 2 %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, laborum obcaecati? Esse fugit et nisi pariatur accusantium animi architecto dolor!</p>
    <button>Click me!</button>
</body>
</html>