*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color : maroon;

}

.post {
    background-color: blanchedalmond;
    padding: 20px;
    margin-bottom: 10px;
}
.user {
    font-style: italic;
}

a {
    text-decoration: none;
}

button {
    padding: 10px;
    background-color: rgb(236, 110, 110);
    border-radius: 12px;
}

input {
    height: 60px;
    width: 400px;
    border-radius: 6px;
}

textarea {
    height: 100px;
    width: 400px;
    border-radius: 6px;
}

.box {
    margin-top: 100px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

